/* universal css */
body {
    background-color: black;
    background-size: cover;
    text-align: center;
}

.page--title {
    font-family: verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-justify: center;
}

.page--caption {
    color: aquamarine;
    font-size: 16px;
}